[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service
ConditionPathExists=/etc/kafka/server.properties
ConditionPathExists=/var/lib/kafka

[Service]
Type=simple
PIDFile=/var/run/kafka.pid
WorkingDirectory=/var/lib/kafka
EnvironmentFile=/etc/sysconfig/kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target